@model WebApplication3.Model.Testdto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Test</h4>

<form asp-controller="Tests" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name">Enter Name:</label>
        <!-- Use asp-for to bind the Name input field to the Testdto model -->
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <button type="submit">Upload</button>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
